<%if user_signed_in? %>

    <ul id="slide-out" class="side-nav">
      <li>
          <div class="userView">
          <div class="background">
            <%= image_tag '3.jpg' %>
          </div>
          <a href="#!user"><img class="circle" src="/uploads/users/profile_pics/<%= current_user.profile_pic %>"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email"><%= current_user.email %></span></a>
        </div>
      </li>
      <li><a href="#!">Home</a></li>
      <li><a href="/update_profile">Profile</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/users/sign_out" data-method="delete">Sign Out</a></li>
    </ul>


    <div style="padding: 25px;" class="forLargeScreen">
          <% current_user.books.each do |b|%>
              <div class="card" style="max-width: 300px; margin: 25px;">
                <div class="card-image">
                  <%= image_tag 'mp3-download.jpeg', :style => "padding: 15px;"%>
                </div>
                <div class="card-content">
                  <p><%= b.display_name %></p>
                  <a href="/remove/<%= b.book_name %>" data-method="post" > DELETE</a>
                </div>
                <div class="card-action">
                  <a href="/download_mp3/<%= current_user.id.to_s %>/<%= b.display_name %>" data-method="post"><small>Download MP3</small></a>
                  <a href="/download_pdf/<%= current_user.id.to_s %>/<%= b.display_name %>" data-method="post"><small>Download PDF</small></a>
                </div>
              </div>
          <%end%>
    </div>

<%else%>

    <div class="bigBox">
      <div style="height: 50%; margin-top: 64px;">
        <div class="parallax-container">
          <div class="parallax"><%= image_tag '3.jpg', :style => "width: 100%; height:100%; opacity: 0.3;" %></div>
          <div class="makingcenter" style="height: 100%">
            <span id="typed-data"></span>
          </div>
        </div>
      </div>
      <div style="height: 50%;" class="makingcenter">
       <p>
         A web app which lets you convert any pdf document into an Mp3 file so that you can take it anywhere anytime.
       </p>
      </div>
    </div>

    <div class="bigBox" >
        <div class="makingcenter" style="height: 100%">
          <ul style="font-size: 30px;">
            <li> Get rid of taking book's weight with you</li>
            <li>Need not to worry about proper sunlight, to read and get into adventure.</li>
            <li>Instead of FM you can listen to your favourite Novel while in a traffic jam.</li>
            <li>Sharing will be easy. And don't worry you have always access to your pdf.</li>
          </ul>
        </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><%= image_tag '4.jpg'%></div>
    </div>

    <div class="bigBox" style="display: flex; flex-direction: column;">
      <div style="height: 50%;" class="makingcenter">
        <p style="font-size: 50px">Audio books, the new way to read.</p>
      </div>
      <div id="footer" style="background-color: darkgray; height: 50%;">
        <div class="makingcenter" style="height: 100%;">
          <div class="makingcenter" style=" border-right: 1px solid black; width: 100%; flex-direction: column">
            <p>-Raounak Sharma</p>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i>
              Facebook</a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
              Twitter</a>
            <a href=""><i class="fa fa-github" aria-hidden="true"></i>
              Github</a>
          </div>
          <div class="makingcenter" style="width: 100%;flex-direction: column;">
            <p>ABCD, company</p>
            <p>New Delhi-1100XX</p>
            <p>India</p>
          </div>
        </div>
      </div>
    </div>

<%end%>