<%if user_signed_in? %>

    <div style="padding: 25px; display: flex; justify-content: flex-start; align-items: flex-start;">
          <% current_user.books.each do |b|%>
              <div class="card" style="max-width: 300px; margin: 25px;">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title" style="color: black; "><%= b.display_name %></span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="/download_mp3/<%= current_user.id.to_s %>/<%= b.display_name %>" data-method="post"><small>Download MP3</small></a>
                  <a href="/download_pdf/<%= current_user.id.to_s %>/<%= b.display_name %>" data-method="post"><small>Download PDF</small></a>
                </div>
              </div>
          <%end%>
    </div>

<%else%>

    <div class="bigBox">
      <div style="height: 50%; margin-top: 64px;">
        <div class="parallax-container">
          <div class="parallax"><%= image_tag '3.jpg', :style => "width: 100%; opacity: 0.3;" %></div>
        </div>
      </div>
      <div style="height: 50%;">

      </div>
    </div>
    <div class="bigBox">
      <div style="height: 50%;"></div>
      <div style="height: 50%;">
        <div class="parallax-container">
          <div class="parallax"><%= image_tag '3.jpg', :style => "width: 100%; opacity: 1;" %></div>
        </div>
      </div>

    </div>
    <div class="bigBox" style="display: flex; flex-direction: column;">
      <div style="height: 50%;"></div>
      <div id="footer" style="background-color: darkgray; height: 50%;">

      </div>
    </div>

<%end%>